.nav-link:hover {

    color: rgb(255, 246, 0);
}

#add_race_form, #add_team_form, #search_form, footer {

    background-color: #252525;
    color: rgb(255, 246, 0);
}

#add_race_form:hover, #add_team_form:hover, #search_form:hover {

    box-shadow: 1px 1px 1px 1px rgb(255, 246, 0);
}

#add_race_result, #added_race {

    background-color: #252525;
    color: rgb(255, 246, 0);
}

h1, h2 {

    font-family: "Lobster", sans-serif;
}
