.nav-link:hover, .navbar-brand:hover {

    color: rgb(255, 246, 0);
}


div#add_race_result, div#report, div#add_race, div#add_team,
        div#add_result, div#edit_race, div#edit_race_result,
        div#edit_team, div#search_race, div#search_team, div#assign_role, footer {

    background-color: #252525;
    color: rgb(255, 246, 0);
}

#add_race_result:hover, #add_race:hover, #add_team:hover, #add_result:hover,
        #edit_race:hover, #edit_race_result:hover,
        #edit_team:hover, #report:hover, #search_race:hover, #search_team:hover, div#assign_role:hover {

    box-shadow: 1px 1px 1px 1px rgb(255, 246, 0);
}


h1, h2 {

    font-family: "Lobster", sans-serif;
}


